.displayAllCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.displayCenter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.BaseInput {
  position: relative;
}
.BaseInput .el-input__inner {
  width: 356px;
  height: 40px;
  border-radius: 24px;
  border: 1px solid #dedcdc;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 20px;
}
